@import '../../../scss/variables';

.page {
	padding-top: $navbar-height;

	.page-header {
		padding: 24px;
		margin: 0;
		border-bottom: 1px solid #e6e6e6;
		background-color: #fff;

		.page-title {
			font-size: 1.8em;
			margin: 0;
		}

	}

	.page-content {
		padding: $grid-gutter-width / 2;
	}

}