@import '../../../scss/variables';

.widget-total {
	color: #fff;
	
	&.panel-primary {
		background-color: $brand-primary;
	}

	&.panel-success {
		background-color: $brand-success;
	}

	&.panel-danger {
		background-color: $brand-danger;
	}

	&.panel-warning {
		background-color: $brand-warning;
	}

	&.panel-info {
		background-color: $brand-info;
	}

	.media {

		.media-left .icon {
			width: 50px;
			height: 50px;
			line-height: 36px;
			text-align: center;
			padding: 8px;
			border: solid 2px #fff;
			border-radius: 50%;

			i {
				font-size: 1.6em;
			}

		}

		.media-heading {
			font-weight: 700;
		}

	}

	.total {
		font-size: 1.8em;
	}

}
