@import '../../../../scss/variables';

.login {
	padding-top: 0;

	.login-form-container {

		max-width: 400px;

		.panel .panel-body {
			padding: 30px;
		}
		
		.login-header {
			margin-bottom: 30px;

			.login-title {
				font-size: 1.4em;
				color: $gray-darker;
			}

			.logo {
				font-size: 6em;
			}

		}

	}
}
