@import '../../../scss/variables';

.widget-panel {

	.panel-heading {
		
		.panel-tools {
			margin: 0;
		}

	}

	/* .panel-body {
		overflow: hidden;
		height: auto;
		transition: height 250ms ease;

		&.collapsed {
			height: 0;
			padding: 0;
		}

	} */

	&.panel-default {
		.panel-heading a {
			color: $gray-dark;
		}
	}

	&.panel-primary, 
	&.panel-success,
	&.panel-danger,
	&.panel-warning,
	&.panel-info {
		.panel-heading a {
			color: #fff;
		}
	}

}