.sortable-table {
	
	.table {
		margin-bottom: 0;

		thead {
		
			tr {
				
				th {
					white-space: nowrap;
					user-select: none;
					
					&.sortable {
						cursor: pointer;

						.sort-icon {
							margin-left: 5px;
						}

					}

				}

			}

		}

		.actions {
			width: 90px;
			white-space: nowrap;
		}

	}

	&-pagination {
		margin-top: 15px;

		.btn {
			margin: 0 2px;
			border-radius: 50%;
			width: 36px;
			height: 36px;
		}

	}

}