.control-label {

	&.required:after {
		content: " *";
		color: $brand-danger;
	}

}

.form-control {
	$border-color: $brand-danger;
	
	&.invalid {
	    border-color: $border-color;
	    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
		
		&:focus {
			border-color: darken($border-color, 10%);
			$shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($border-color, 20%);
			@include box-shadow($shadow);
		}

	}

}
