.navbar {

	&.navbar-custom {
		@extend .navbar-default;
		background-color: darken($brand-primary, 10%);
		box-shadow: 0 0 1px rgba($gray-dark, 0.7);
		
		@media (min-width: $screen-sm) {
			background-color: #fff;
		}

		.navbar-header {
			margin-left: ($grid-gutter-width / 2) * -1;
			margin-right: ($grid-gutter-width / 2) * -1;
			float: left !important;
			width: $menu-width;
		}

		.brand-container {
			background-color: darken($brand-primary, 10%);
		}

		.navbar-brand {
			display: block;
			margin-left: 0 !important;
			padding-right: 0;
			padding-left: 0;

			@media (min-width: $screen-sm) {
				width: 100%;
				padding-left: 15px;
			}

			.icon {
				margin-right: 12px;
			}

		}

		.navbar-toggle {
			float: left;
			margin: 0;
			width: $navbar-height;
			height: $navbar-height;
			text-align: center;
			background: none !important;
			border: none !important;
		
			.icon-bar {
				background-color: #fff !important;
				transition: all 200ms ease;
				margin-right: auto;
				margin-left: auto;
			}

			&.active .icon-bar {
				
				&:nth-child(1) {
					transform: rotate(45deg) translateY(4px);
					opacity: 0;
				}

				&:nth-child(2) {
					margin-top: 0;
					transform: rotate(45deg) translateY(4px);
				}

				&:nth-child(3) {
					transform: rotate(-45deg) translateY(-4px);
				}		

			}

		}

		.navbar-nav {
		
			&.navbar-right {
				float: right !important;
				margin-right: ($grid-gutter-width / 2) * -1;
				margin-top: 0;
				margin-bottom: 0;
			}

			> .dropdown {;
			
				> a,
				> .nav-dropdown {
					color: $gray-darker;
					padding: 14px 16px;

					&:hover,
					&:focus,
					&:active {
						background-color: lighten($gray-lighter, 2%) !important;
						color: $gray-darker !important;
					}
					
					.caret {
						display: none;
					}

					.avatar {
						height: 32px;

						@media (min-width: $screen-sm) {
							margin-right: 8px;
						}

					}

				}

				.dropdown-menu {
					position: absolute !important;
					left: auto !important;
					right: 0;
					background-color: #fff !important;
					box-shadow: 0 6px 12px rgba(#000, .175) !important;
					border: 1px solid rgba(#000, .15);

					li > a {
						color: $gray-dark;
						background-color: none;

						&:hover {
							background-color: lighten($gray-lighter, 2%) !important;
							color: $gray-darker !important;
						}

						.icon {
							margin-right: 8px;
						}

					}

				}
			
			}

			> .open {
				
				> a,
				> a:hover,
				> a:focus,
				> a:active {
					background-color: lighten($gray-lighter, 2%) !important;
					color: $gray-darker !important;
				}

			}

		}

	}

}