@font-face {
  font-family: 'Notification';
  src:  url('#{$notifications-font-path}/notification.eot?s3g3t9');
  src:  url('#{$notifications-font-path}/notification.eot?#iefixs3g3t9') format('embedded-opentype'), 
        url('#{$notifications-font-path}/notification.woff?s3g3t9') format('woff'), 
        url('#{$notifications-font-path}/notification.ttf?s3g3t9') format('truetype'), 
        url('#{$notifications-font-path}/notification.svg?s3g3t9#notification') format('svg');
  font-weight: normal;
  font-style: normal;
}

.notification-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}

.notification {
  box-sizing: border-box;
  padding: 15px 15px 15px 58px;
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2em;
  position: relative;
  margin-top: 15px;
}

.notification .title {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.notification-enter {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
}

.notification-enter.notification-enter-active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}

.notification-leave {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

.notification-leave.notification-leave-active {
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition: all 0.4s;
}

.notification:before {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -14px;
  display: block;
  font-family: 'Notification';
  width: 28px;
  height: 28px;
  font-size: 28px;
  text-align: center;
  line-height: 28px;
}

.notification-info {
  background-color: $brand-info;
}

.notification-info:before {
  content: "\f05a";
}

.notification-success {
  background-color: $brand-success;
}

.notification-success:before {
  content: "\f058";
}

.notification-warning {
  background-color: $brand-warning;
}

.notification-warning:before {
  content: "\f06a";
}

.notification-error {
  background-color: $brand-danger;
}

.notification-error:before {
  content: "\f057";
}
