.panel {

	.panel-heading {
		padding: $grid-gutter-width / 2;

		.btn-link {
			color: $gray-darker;
			text-decoration: none;
		}

		.panel-title a {
			cursor: pointer;
		}

	}

	&.panel-default {
		.panel-heading {
			background-color: #fff;
		}
	}

}
