.table {

	thead tr {
		th,
		td {
			border-bottom: solid 2px $gray-lighter;
		}
	}

	tbody tr {
		th,
		td {
			border-top: solid 1px $gray-lighter;
		}
	}

	.actions {
		text-align: right;
		
		.btn {
			margin-left: 6px;
		}

	}

}

.table-responsive {
	border: none;
}
