$icon-font-path: "../../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;
$fa-font-path: '../../node_modules/font-awesome/fonts/' !default;
$notifications-font-path: '../../node_modules/react-notifications/dist/fonts';

@import 'themes/flatly/variables';

$menu-width: 240px;
$menu-bg-color: lighten($brand-primary, 5%);
