@import '../../../scss/variables';

.main-menu {

    width: $menu-width;
    height: 100%;
    height: calc(100% - $navbar-height);
    padding-top: $navbar-height;
    z-index: 997;
    position: fixed;
    left: 0;
    top: 0;
    background-color: $brand-primary;
    overflow-y: auto;
    transform: translateX(-100%);
    will-change: transform;
    backface-visibility: hidden;
    transition: all 250ms ease;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
    			0 1px 5px 0 rgba(0,0,0,0.12), 
    			0 3px 1px -2px rgba(0,0,0,0.2);
	
	@media (min-width: 768px) {
		transform: translateX(0px);
	}

	&.open {
		width: $menu-width;
		transform: translateX(0px);
	}

	.scrollbar {
		height: 100%;
		overflow-y: auto;
	}

	.main-menu-accordion {
		padding: 0;
		line-height: 48px;

		li {
			list-style: none;

			&.nav-title {
				font-weight: 200;
				color: $gray-light;
				border-bottom: solid 1px lighten($brand-primary, 5%);
			}

			&.nav-title,
			a {
				padding: 0px 16px;
			}

			a {
				display: block;
				color: $gray-light;
				text-decoration: none;
				transition: all 200ms ease;

				&:hover {
					background-color: lighten($brand-primary, 5%);
				}

				.fa {
					margin-right: 8px;
				}

			}

			> a.active {
				background-color: darken($brand-primary, 5%);
				border-left: solid 6px rgba($brand-success, 0.8);
				color: $gray-lighter;
			}

		}

	}

}
